table{
	width: 1000px;
    	text-align: center;
    	font-size: 30px;
}

th{
   	border: 5px solid #23aea3;
   	background-color: #30d5c8;
   	border-radius: 10px;
   	box-shadow: 1px 1px gray;
   	font-family: Verdana, Geneva, sans-serif;
}

td{
   	border: 1px solid grey;
   	border-radius: 6px;
   	box-shadow: 1px 1px gray;
   	background-color: #afeeee;
   	font-family: "Comic Sans MS", cursive, sans-serif;
}

input{
	width: 200px;
	text-align: center;
	
}


.block{
	display: flex;
	max-width: 1600px;
}

.block__table{
	display: flex;
	justify-content: center;
	width: 2000px;
}

.block__button{
	display: flex;
	flex-direction: column;
	align-items:center;
}


.block_sumbit{
	
}

.country{
	border: 5px solid #23aea3;
	font-size: 16px;
	font-family: Verdana, Geneva, sans-serif;
	box-shadow: 2px 2px 1px 1px gray;
	
}

.sumbit{
	font-size: 16px;
	font-family: Verdana, Geneva, sans-serif;
	background-color: #30d5c8;
	border-radius: 20px;
	border: 5px solid #23aea3;
	box-shadow: 2px 2px 1px 1px gray;
}

.flyJet{
	transform:translate(-200px, 500px)
}

.letsFly{
	
	transition: all 1.2s ease-out 0.2s;
	transform:translate(0px , 0px);
}